/* ==========================================================================
   User Settings
   ========================================================================== */

.map-container{
	height: 250px;
	border: 1px solid $grey-6;
	width: 100%; 
	display: block;
	#map {
		height: 100%;
		width: 100%;
		display: block;
	}
}
