/* ==========================================================================
   Gravity Forms Login Widget
   ========================================================================== */

.gform_login_widget{
	h3{
		@extend .h2;
	}
	.gform_wrapper ul.gfield_checkbox, .gform_wrapper .gfield_checkbox li, .gform_wrapper .gform_footer{
		margin: 0;
	}
	.gform_wrapper li#field_3{
		margin-top: 0;
	}
}

aside.sidebar{
	@media (min-width: $min-break-tablet){
		h3{
		    margin: 70px 0 30px !important;
		}
	}

}