/* ==========================================================================
   Tables
   ========================================================================== */

table.g-table{
	width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
	thead, tbody, tfoot, tr, th, td{
	    margin: 0;
	    padding: 0;
	    border: none;
	    border-collapse: inherit;
	    border-spacing: 0;
	    .g-checkbox input[type=checkbox]+label{
	    	margin: 0;
	    }
	    border-color: inherit;
	    vertical-align: middle;
	    -webkit-border-horizontal-spacing: 0;
	    -webkit-border-vertical-spacing: 0;
	}
	thead{
		border-bottom: 2px solid $table-border-color;
		text-align: left;
		font-weight: normal;
		font-family: $font-bold;
		color: $grey-1;
	}
	tbody{
		font-weight: normal;
	}
	.g-checkbox input[type=checkbox]+label{
		margin: 0;
	}
	th{
		.g-checkbox input[type=checkbox]+label{
		    font-family: $heading-font;
		}
	}
	&.g-table-striped{
		td{
		    padding: $table-padding;
		}
		th{
		    padding: $table-header-padding;
		}
	}
	&.g-table-striped>tbody>tr:nth-of-type(even){
	    background-color: $table-striped-bg-color;
	}
	&.g-table-bordered{
		td, td {
		    border-top: 1px solid $table-border-color;
		}
	}
	&.g-table-hover{
		>tbody>tr:hover {
			@extend .transition;
		    background-color: $table-hover-bg-color;
		}
	}
	//stacked table on < tablet
	&.g-tablet-stacked{
		@media (max-width: $max-break-mobile) {
			thead{
				tr{
					display: none;
				}
			}
			td{
				display: block;
				width: 100%;
				padding: 0px;
			}
			tr{
				padding: 15px;
				display: block;
			}
			tr td:not(:first-child){
				display: none;
			    padding-left: 40px;
			}
			tr td:first-child, tr td:nth-child(2){
				margin-bottom: 5px;
				position: relative;
				padding-left: 40px;
				display: block;
			}
		}
		.g-open-link{
			font-size: 20px;
			padding: 0 10px 10px 10px;
			position: absolute;
			left: -5px;
			@media (min-width: $min-break-mobile) {
				display: none;
			}
		}
	}
}


@media (max-width: $max-break-desktop){
	.g-table-responsive {
	    width: 100%;
	    margin-bottom: 15px;
	    overflow-y: hidden;
	    -ms-overflow-style: -ms-autohiding-scrollbar;
	}
}