/* ==========================================================================
   Global Variables
   ========================================================================== */

/* ======================= Colours ======================== */

$brand-1: #FF0000;
$brand-2: #670151;
$brand-3: #197592;

$brand-1-light: lighten($brand-1, 10%);
$brand-2-light: lighten($brand-2, 10%);
$brand-3-light: lighten($brand-3, 10%);

$gradient-1: linear-gradient(#FF0000, #197592);

//neutrals
$grey-1: #000000;
$grey-2: #414141;
$grey-3: #5E5E5E; 
$grey-4: #7A7A7A;
$grey-5: #979797;
$grey-6: #CCCCCC;
$grey-7: #E6E6E6;
$grey-8: #F7F7F7;

//font-colours
$text-color: $grey-2;
$text-light: $grey-4;
$text-dark: $grey-1;

$heading-color: $grey-1;
$heading-link-color: darken($brand-2, 3%);
$heading-hover-color: darken($brand-3, 10%);

$error-color: $brand-1;

$hr-color: $grey-7;
$border-color: $grey-6;


/* ======================= Misc ======================== */

//Default box shadaw
$box-shadow: 1px 1px 1px $grey-2;


/* ======================= Links/Type ======================== */

//Links
$link-color: $grey-1;
$link-color-hover: $brand-2;
$link-color-active: darken($brand-2, 8%);

//Secondary link color
$link-color-2:  $grey-1;
$link-color-hover-2: $brand-2;
$link-color-active-2: darken($brand-2, 5%);

//3 link color
$link-color-3:  $grey-4;
$link-color-hover-3: $brand-2;
$link-color-active-3: darken($brand-2, 5%);

//Type
$heading-font: 'Lato', sans-serif;
$body-font: 'Lato', sans-serif;

$font-bold: 'Lato', sans-serif;
$font-italic: 'Lato', sans-serif;
$font-bold-italic: 'Lato', sans-serif;

$base-font-size: 16px;
$base-line-height: 1.2em;
$p-line-height: 1.6em;
$heading-line-height: 1.4em;

/* ======================= Buttons ======================== */

$btn-font-size: .95em;
$btn-height: 45px;
$btn-line-height: 43px;
$btn-padding: 0 35px;
$btn-text-align: center;
$btn-border-radius: 0;
$btn-font-family: $font-bold;

//Small button
$btn-sm-height: 37px;
$btn-sm-line-height: 35px;
$btn-sm-padding: 0 20px;
$btn-sm-font-size: .88em;

//Smallest button
$btn-xs-height: 30px;
$btn-xs-line-height: 28px;
$btn-xs-padding: 0 10px;
$btn-xs-font-size: .8em;

//Primary button
$btn-bg: $brand-2;
$btn-border: $brand-2;
$btn-color: #fff;

$btn-hover-bg: darken($brand-2, 5%);
$btn-hover-border: darken($brand-2, 5%);
$btn-hover-color: #fff;

$btn-active-bg: darken($brand-2, 10%);
$btn-active-border: darken($brand-2, 10%);
$btn-active-color: #fff; 

//Secondary button
$btn-2-bg: #fff;
$btn-2-border: $grey-6;
$btn-2-color: $grey-2;

$btn-2-hover-bg: #fff;
$btn-2-hover-border: $grey-6;
$btn-2-hover-color: $brand-2;

$btn-2-active-bg: $brand-2;
$btn-2-active-border: $brand-2;
$btn-2-active-color: #fff;

//Tertiary button - no border
$btn-3-bg: $grey-7;
$btn-3-color: $grey-3;

$btn-3-hover-bg: $brand-3;
$btn-3-hover-color: #fff;

$btn-3-active-bg: darken($brand-3, 8%);
$btn-3-active-color: #fff;

//4 button - no border
$btn-4-bg: rgba(0,0,0,.7);
$btn-4-color: #fff;

$btn-4-hover-bg: rgba(0,0,0,.8);
$btn-4-hover-color: #fff;

$btn-4-active-bg: $grey-1;
$btn-4-active-color: #fff;


/* ======================= Forms ======================== */

$input-border-color: $grey-5;
$input-active-border-color: $grey-3;
$input-border-radius: 0;
$input-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
$select-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
$input-color: $grey-1;
$label-color: $grey-1;
$input-placeholder-color: $grey-4;
$radio-active-color: $brand-2;
$checkbox-active-color: $brand-2;


/* ======================= Tables ======================== */

$table-padding: 15px 13px;
$table-header-padding: 8px 13px;
$table-border-color: $grey-1;
$table-striped-bg-color: $grey-8;
$table-hover-bg-color: lighten($grey-4,10%);


/* ======================= Defaults ======================== */

//Default box-sizing
$box-sizing: border-box;

//Default transitions
$transition1-default: all 0.05s ease-in;
$transition2-default: all 0.3s ease-in;
$transition3-default: all 0.7s ease-in;

/* ======================= Responsive ======================== */

//Repsonsive breakpoints
$min-break-desktop: 1271px;
$max-break-desktop: 1270px;

$min-break-desktop-sm: 1051px;
$max-break-desktop-sm: 1050px;

$min-break-tablet: 951px;
$max-break-tablet: 950px;

//navigation break point
$min-break-tablet-sm: 801px;
$max-break-tablet-sm: 800px;

$min-break-mobile: 651px;
$max-break-mobile: 650px;


//Grid system variables
$gutter: 12px;
$lg-gutter: 45px;
$sm-gutter: 10px;
